* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Mega", sans-serif;
}

h1,
h2,
h3,
h4 {
  padding: 10px;
}

h5 {
  margin: 30px;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template: auto 1fr auto / 300px 1fr;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  text-align: center;
}

header {
  grid-area: header;
  justify-items: center;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1em;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  padding: 10px;
}

a {
  color: black;
}

#mission-statement {
  height: 300px;
  background-image: url("https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/skyscrapers.jpg");
  display: flex;
  align-items: center;
  text-align: center;
}

#mission-statement .content {
  background-color: white;
  text-align: center;
  width: 100%;
}

#portfolio {
  padding: 50px;
  height: 300px;
  align-items: center;
  text-align: center;
}

.companies {
  display: flex;
  justify-content: space-around;
}

.company {
  display: flex;
  align-items: center;
  text-align: center;
}

.company img {
  width: 200px;
  height: auto;
}

.company span {
  min-width: 200px;
  font-weight: bold;
  text-align: center;
}

#team {
  background-image: url("https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/blurred-road.jpg");
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.team-member {
  display: block;
  padding: 10px;
  justify-content: space-around;
  flex-basis: 280px;
}

.team-member img {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: auto;
}

.team-member h3,
p {
  color: white;
}

#copyright {
  padding-top: 20px;
}
